@import url(/blocks/content/table/__cell/_theme/table__cell_theme_dark.css);

.table__cell {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 20px;
  margin-top: 60px;
}